{% extends "base.html" %}
{% load static %}
{% block sidebar %}
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
            <img src="{% static 'img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
                 class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">IoT</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a href="#" class="d-block">{% if request.user.usuario.name %}
                        {{ request.user.usuario.name }} {% else %} Admin {% endif %}</a>
                </div>
            </div>
            <!-- /.sidebar-menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column">
                    <li class="nav-item">
                        <a href="{% url 'comum:index' %}">
                            <i class="nav-icon fas fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'comum:speed' %}">
                            <i class="nav-icon fas fa-stopwatch-20"></i>
                            Speed
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- /.sidebar -->
    </aside>
{% endblock %}

{% block title_page %}
    <h1 class="m-0 text-white">Speed</h1>
{% endblock %}

{% block bread_crumb %}
    <ul class="breadcrumb float-sm-right">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active">Speed</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row" id="lamps">
        <canvas id="speedChart" width="150" height="50"></canvas>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
    <script>
        var ctx = document.getElementById("speedChart");
        var times = JSON.parse(JSON.stringify({{ times|safe }}));
        var speed = JSON.parse(JSON.stringify({{ speeds|safe }}));

        var alarmYChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: times,
                datasets: [{
                    label: 'Speed',
                    data: speed,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}