{% extends "base.html" %}
{% load static %}
{% block sidebar %}
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
            <img src="{% static 'img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
                 class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">IoT</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a href="#" class="d-block">{% if request.user.usuario.name %}
                        {{ request.user.usuario.name }} {% else %} Admin {% endif %}</a>
                </div>
            </div>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
{% endblock %}

{% block title_page %}
    <h1 class="m-0 text-white">Dashboard</h1>
{% endblock %}

{% block bread_crumb %}
    <ul class="breadcrumb float-sm-right">
        <li class="breadcrumb-item active">Home</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row" id="lamps">
        {% for lamp in lamps %}

            <div class="col-md-4">
                <img src="{% if lamp.active %} {% static 'img/Lon.png' %} {% else %} {% static 'img/Loff.png' %} {% endif %}"
                     alt="" id="lamp_{{ lamp.lamp_id }}">

                <button class="btn btn-primary off" onclick="change_lamp({{ lamp.lamp_id }}, 'False')"
                        style="display: {% if not lamp.active %} none {% endif %}" id="off_{{ lamp.lamp_id }}">Off
                </button>
                <button class="btn btn-primary on" onclick="change_lamp({{ lamp.lamp_id }}, 'True')"
                        style="display: {% if lamp.active %} none {% endif %}" id="on_{{ lamp.lamp_id }}">On
                </button>
            </div>
        {% endfor %}

        <canvas id="alarmsYChart" width="150" height="100"></canvas>
        <canvas id="alarmsXChart" width="150" height="100"></canvas>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
    <script>
        var ctx = document.getElementById("alarmsYChart");
        var ctx2 = document.getElementById("alarmsXChart");
        var times = JSON.parse(JSON.stringify({{ times|safe }}));
        var positionsy = JSON.parse(JSON.stringify({{ positionsy|safe }}));
        var positionsx = JSON.parse(JSON.stringify({{ positionsx|safe }}));

        var alarmYChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: times,
                datasets: [{
                    label: 'Alarms (y)',
                    data: positionsy,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var alarmXChart = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: times,
                datasets: [{
                    label: 'Alarms (x)',
                    data: positionsx,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        $(function () {
            $('.off-empty').css('display', 'none');
        })

        function change_lamp(id, on) {
            $.ajax({
                method: 'GET',
                url: '/change/lamp/' + id + '/' + on,
                context: 'application/json',
                success: function (data) {
                    if (data.active === 'False') {
                        $('#lamp_' + id).attr('src', '{% static 'img/Loff.png' %}')
                        $('#on_' + id).css('display', 'inline-block')
                        $('#off_' + id).css('display', 'none')


                    } else if (data.active === 'True') {
                        $('#lamp_' + id).attr('src', '{% static 'img/Lon.png' %}')
                        $('#on_' + id).css('display', 'none')
                        $('#off_' + id).css('display', 'inline-block')

                    }
                }
            })
        }
    </script>
{% endblock %}